@using Microsoft.AspNetCore.Identity
@using BookDeliverySystem.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        var user = await UserManager.GetUserAsync(User);
        if(user.Role == "ADMI")
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Menu" asp-action="AdminModule">Admin Module</a>
            </li>
        }
        if(user.Role == "AGEN")
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Agency" asp-action="OrdersByCity">Select Orders</a>
            </li>
        }
        if(user.Role == "COUR")
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Courier" asp-action="OrdersByAgency">Accept Orders</a>
            </li>          
        }
        @*TODO MAKE ADMIN MODULE ACCESSIBLE ONLY TO ADMIN ROLE USERS*@
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Menu" asp-action="MyOrders">My Orders</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Menu" asp-action="ContactUs">Contact Us</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Menu" asp-action="AboutUs">About Us</a>
                </li>

    <li class="nav-item">
            <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><i class="fa-solid fa-user"></i></a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Menu" asp-action="ShopDemo">Simulate An Order</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Menu" asp-action="ContactUs">Contact Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Menu" asp-action="AboutUs">About Us</a>
        </li>
    <li class="nav-item">
        <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
