@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<main class="content">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            
        </div>
    </div>
    <br />
    <div class="form-container-about-us">
        <h1>ABOUT US</h1>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <p>Welcome to our book delivery service! We are passionate about connecting readers with the books they love, right at their doorstep. Our mission is to make the joy of reading accessible to everyone, no matter where they are.</p>

                <p>At our book delivery service, we understand the thrill of diving into a new adventure or exploring new ideas through the pages of a book. That's why we've made it our goal to provide a convenient and reliable way for you to discover and enjoy your favorite reads.</p>

                <p>Whether you're a bookworm who can't get enough of the latest bestsellers or someone who simply enjoys the occasional read, we've got you covered. Our extensive collection features a wide range of genres, from fiction and non-fiction to mystery, romance, science fiction, and more.</p>

                <p>With our easy-to-use website, you can browse through our catalog, place orders, and have your chosen books delivered straight to your doorstep. We're committed to providing excellent customer service and ensuring that your reading experience is always a pleasure.</p>

                <p>Thank you for choosing our book delivery service. We look forward to being a part of your reading journey!</p>
            </div>
        </div>
    </div>
    

</main>
@*
            <script>
                $(document).ready(function(){
                    type:"POST",
                    url:"@Url.Action("VIEWNAME","CONTROLLER NAME")",
                    contentType:"application/json; charset=utf-8",
                    data:JSON.stringify({'parameter':$('#elementid').val()}),
                    async:false,
                    success:function(response){
                        $('#elementid').html(reponse);
                        ),
                        error:function(xhr,status,error){
                            alert(error);
                        }
                    });
                });
            </script>*@

                    <style>

                    </style>