/* Form container */
.form-container {
    width: 90%;
    margin: 100px auto; /* Adjusted margin to align with the contact us form */
}

    /* Form header */
    .form-container h1 {
        text-align: center;
        margin-bottom: 20px;
    }

/* Form section */
.col-md-12 {
    background-color: #fff; /* Changed background color to white */
    padding: 3%; /* Reduced padding */
    border-radius: 0.5rem; /* Added border radius */
    box-shadow: none; /* Removed box shadow */
}

/* Form inputs */
.form-floating {
    margin-bottom: 20px;
}

    .form-floating input[type="text"],
    .form-floating input[type="email"],
    .form-floating input[type="password"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

/* Submit button */
#registerSubmit {
    background: #25274d; /* Changed background color to match the contact us form */
    color: #fff;
    font-weight: 600;
    width: 25%;
    margin: 10px auto; /* Adjusted margin */
    transition: 0.3s;
}

    #registerSubmit:hover {
        background: #2B526C; /* Change background color to match hover effect of contact us form */
    }

/* Validation messages */
.text-danger {
    color: #dc3545; /* Changed error message color */
}
